html, body {
  height: auto;
  width: auto;
  margin: 0;
  padding: 0;
  background-size: cover;
  background-image: linear-gradient(orange, yellow, orange);
}

#top {
  text-align: center;
  margin: 0 auto;
}

#top h1 {
  font-size: 2em;
}

#top h3{
    font-size: 45px;
    font-family: fantasy;
}

#content {
  font-size: 1em;
  text-align: center;
}

#boxedContent{
    margin-top: 20px;
    padding: 20px;
    background-color: rgba(255, 228, 196, .5);
    border-radius: 25px;
    width: 70vw;
    margin-left: 15vw;
    margin-right: 15vw;
}

#card{
    width: 640px;
    height: auto;
    background-color: rgba(255, 179, 150,.8);
    border-radius: 25px;
    padding: 20px;
}


#title{
    color: #000000;
    width: 640px;
    text-align: center;
    font-size: 30px;
}

#video{

}

#descript{
    width: 640px;
    text-align: center;
}