html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background:url(https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.stargatecinema.com%2Fhome-theater-carpet%2F&psig=AOvVaw3rkDGox5Ra62px_BJFBp7U&ust=1583105674206000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCMiS-q329-cCFQAAAAAdAAAAABAD);
  background-repeat: repeat;
}

#top {
  text-align: center;
  margin: 0 auto;
}

#top h1 {
  font-size: 2em;
}

#content {
  margin-top: 20px;
  font-size: 1em;
  text-align: center;
}

#boxedContent{
    background-color: aliceblue;
    border-radius: 25px;
    width: 75vw;
    position: fixed;
    top: 20%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -20%);
}